{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "document": true,
    "fetch": true,
    "yield": true
  },
  "rules": {
    "react/require-default-props": false
  }
}