.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.6em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  white-space: nowrap;
}

.author .name {
  transition: border-bottom-color 0.2s ease;
  border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
  display: block;
  margin: 0 1.5em 0 0;
}

.author img {
  border-radius: 100%;
  display: block;
  width: 4em;
}

.author:hover .name {
  border-bottom-color: transparent;
}
